<div class='js-controller' ng-controller='MindmapCtrl'>
  <div>
	<div>Give a name to your new Mindmap : </div><input ng-model="mindmapName" type="text" />
	<button ng-click="createMindMap($event,mindmapName)" ng-show="mindmapName">Add</button>
  </div>
  <div ng-show="mindmaps">
  	<div>Choose to load mindmap</div>
  	<select ng-model="selectedMindmap" ng-options="mindmap.id as mindmap.name for mindmap in mindmaps" ng-change="loadMindMap(selectedMindmap)">
      <option value="">-- choose mindmap --</option>
    </select>
  </div>
</div>
